<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" throwConfigExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target name="logfileInfo" xsi:type="File" fileName="log\Info_${date:format=yyyyMMdd}.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff zzz}|${level:uppercase=true}|${threadid}|${logger}|${message}" archiveAboveSize="3072" KeepFileOpen="True" ConcurrentWrites="true"/>
    <target name="logfileError" xsi:type="File" fileName="log\Error_${date:format=yyyyMMdd}.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff zzz}|${level:uppercase=true}|${threadid}|${logger}|${message}" archiveAboveSize="3072" KeepFileOpen="True" ConcurrentWrites="true"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="logfileInfo" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="logfileError" />
  </rules>
</nlog>